.products-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(200, 237, 225);
  border-radius: 10px;
  width: 220px;
  height: auto;
  padding: 5px;
  margin: 13px;
}
.image {
  width: 130px;
  height: 80px;
  text-align: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .image {
    width: 95px;
    height: 45px;
  }
  .title {
    font-size: 20px;
  }
}
.price-con {
  display: flex;
}
.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #252020;
  font-weight: 500;
}
.price {
  font-family: 'Roboto';
  font-size: 15px;
  color: gray;
  padding-right: 9px;
  padding-top: 0;
}
.category {
  font-family: 'Roboto';
  font-size: 15px;
  color: rgb(37, 33, 33);
}
.pc {
  display: flex;
}
.rate {
  padding-left: 8px;
}
.rating-con {
  display: flex;
}
